<div class="row mt-3" *ngIf="planetas; else loading">
  <div class="col-md-9">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <h2 class="card-title">{{ planetas.name }}</h2>
      </div>
      <label><b>Período de Rotação:</b> {{ planetas.rotation_period }}</label>
        <label><b>Período de Orbita:</b> {{ planetas.orbital_period }}</label>
        <label><b>Diametro:</b>  {{ planetas.diameter  }}</label>
        <label><b>Clima:</b> {{ planetas.climate }}</label>
        <label><b>Gravidade:</b> {{ planetas.gravity }}</label>
        <label><b>Terreno:</b> {{ planetas.terrain }}</label>
        <label><b>Água da Superfície:</b> {{ planetas.surface_water }}</label>
        <label><b>População:</b> {{ planetas.population }}</label>
        <label><b>Residente:</b> {{ planetas.residents }}</label>
        <label><b>Filmes:</b><a> {{  planetas.films  }} </a></label>
        <label><b>Criado:</b> {{ planetas.created }}</label>
        <label><b>Editado:</b> {{ planetas.edited }}</label>
        <label><b>Url:</b> <a href=" #">{{ planetas.url }}</a></label>
       </div>
    </div>
  </div>
</div>

<ng-template #loading>
  Carregando Informação
</ng-template>
